// ------------------------ Desktop ------------------------ //
@media only screen and (min-width: 992px) {
  .portfolio-header-container {
    padding-top: 15px;

    .material-icons {
      position: absolute;
      left: 45px;
      bottom: 5px;
    }
    .portfolio-header-name {
      font-size: 40px;
      margin-left: 60px;
    }
    .portfolio-header-pos {
      font-size: 17px;
      top: 0;
      left: 15px;
    }
    .portfolio-header-date {
      font-size: 15px;
      right: 200px;
      top: 10px;
    }
    .portfolio-header-time {
      font-size: 15px;
      right: 50px;
      top: 10px;
    }
  }
  .portfolio-tab {
    > div > div {
      font-size: 15px;
    }
  }
  .portfolio-web-message {
    border-radius: 20px;
    width: 50%;
    min-height: 189px;
    margin: 30px 25%;
    .portfolio-message-body {
      width: 82%;
      font-size: 16px;
      line-height: 25px;
    }
  }
  .portfolio-intro-container {
    border-radius: 50px;
    margin: 30px 70px;
    padding: 30px 70px;

    .portfolio-intro-general {
      font-size: 16px;
      line-height: 40px;
      margin-bottom: 80px;
      .portfolio-general-title {
        font-size: 30px;
        margin-bottom: 50px;
      }
    }
    .portfolio-intro-experience {
      font-size: 16px;
      line-height: 35px;
      margin-bottom: 80px;
      .portfolio-experience-title {
        font-size: 30px;
        margin-bottom: 20px;
      }
      .portfolio-experience-period {
        margin-bottom: 50px;
      }
      .portfolio-experience-company  {
        font-size: 120%;
      }
    }
    .portfolio-intro-skill {
      font-size: 16px;
      line-height: 40px;
      margin-bottom: 80px;
      .portfolio-skill-title {
        font-size: 30px;
        margin-bottom: 50px;
      }
    }
    .portfolio-intro-education {
      font-size: 16px;
      line-height: 40px;
      margin-bottom: 80px;
      .portfolio-education-title {
        font-size: 30px;
        margin-bottom: 50px;
      }
    }
    .portfolio-intro-language {
      font-size: 16px;
      line-height: 40px;
      margin-bottom: 80px;
      .portfolio-language-title {
        font-size: 30px;
        margin-bottom: 50px;
      }
    }
  }
  .portfolio-projects-individual {
    .portfolio-individual-title {
      font-size: 30px;
      margin: 50px;
    }
  }
  .portfolio-ios-icon {
    border-radius: 35px;
    margin: 0 30px 20px;
    height: 140px;
    width: 140px;
  }
  .icon-hover:hover {
    margin: 0 27px 14px;
    height: 146px;
    width: 146px;
  }
  .portfolio-projects-details {
    border-radius: 50px;
    margin: 30px 60px;
    padding: 40px 30px 100px;
    .portfolio-details-info {
      font-size: 22px;
      word-wrap: break-word;
    }
    .portfolio-details-caption {
      margin: 80px 20px 40px;
      font-size: 20px;
    }
    .portfolio-details-scenes {
      .portfolio-details-scene {
        width: calc((100% - 90px)/4);
        height: 100%;
        margin: 0 15px;
        border-radius: 10px;
      }
    }
    .portfolio-details-image {
      width: 90%;
      margin: 0 5%;
      border-radius: 20px;
    }
    .slick-slider {
      display: none;
    }
    .portfolio-scene-loading {
      object-fit: contain;
    }
  }
  .portfolio-contact {
    font-size: 30px;
    margin: 50px;
  }
  .portfolio-button {
    margin: 0 70px 30px;
    bottom: 12px;
  }
  .view-1 {
    .react-swipeable-view-container {
      max-height: 4000px !important;
    }
  }
  .view-extend-1 {
    .react-swipeable-view-container {
      max-height: 2000px !important;
    }
  }
  .view-extend-2 {
    .react-swipeable-view-container {
      max-height: 2500px !important;
    }
  }
  .view-extend-3 {
    .react-swipeable-view-container {
      max-height: 2100px !important;
    }
  }
}
